<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row flex-nowrap">
      <div class="col-md-2">
        <img src="/img/BMBF_gefoerdert vom_deutsch.jpg" class="img-fluid">
      </div>
      <div class="col-md-1">
        <img src="/img/PrototypeFund-P-Logo.jpg" class="img-fluid">
      </div>
      <div class="col-md-9 text-right">
      	<div class="footer-manu">
      	  <ul>
      	    <li><a href="{{ site.baseurl }}/contact ">Kontakt</a>  /  <a href="{{ site.baseurl }}/impressum">Impressum</a></li>
      	  </ul>
      	</div>
      	<p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved. Modified by <a href="{{ site.baseurl}}/impressum"> Datenklaus.</a></p>
      </div>
    </div>
  </div>
</footer>
