<!-- Header Start -->
<header>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <nav class="navbar navbar-light  navbar-expand-md">
      <a class="navbar-brand" href="/index">
        <img class="img" width="50%" src="{{ site.baseurl }}/img/logo.png" alt="Logo">
      </a>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link h4" href="{{ site.baseurl }}/">Home</a></li>
        <li class="nav-item"><a class="nav-link text-nowrap h4" href="{{ site.baseurl }}/project">Das Projekt</a></li>
        <li class="nav-item"><a class="nav-link text-nowrap h4" href="{{ site.baseurl }}/app">Die App</a></li>
      </ul>
    </nav>
  </div><!-- /.container-fluid -->
</header><!-- header close -->
